/CustomControlCSharp/FormCustom/.vs/
/CustomControlCSharp/FormCustom/bin/
/CustomControlCSharp/FormCustom/obj/
/CustomControlCSharp/JSONToCSV/.vs/
/CustomControlCSharp/JSONToCSV/bin/
/CustomControlCSharp/JSONToCSV/obj/
